<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <!-- link rel="icon", hred=img // this give the flag in the tab  -->
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
   {{>header}}
    <p>this is {{name}}</p>
    <img class="monkeyMtn" src="/img/walk.JPG"/>
    </div>
    {{>footer}}
</body>

</html>