<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
     <!-- link rel="icon", hred=img // this give the flag in the tab  -->
    <link rel="stylesheet" href="/css/styles.css">
   

</head>

<body>
    <div class="main-content">
   {{>header}}
   <p>use this site to get weather</p>
<form>
    <input placeholder='location'>
    <button>Search</button>
</form>
<p id="err"></p>
<p id="resp"></p>

    </div>
    
    {{>footer}}

     <script src="/js/app.js"></script>
</body>

</html>